PORT=3000
REDIS_URL=redis://localhost:6379
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/ifarm
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/ifarm/protocol/openid-connect/certs
CORS_ALLOWED_ORIGINS=http://localhost:4000,http://localhost:4001,http://localhost:3000
NODE_ENV=development
